/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  font-family: sans-serif;
}

.notification:not(:last-child){
  margin-bottom: 0;
}

a {
    color: #4a4a4a;
}
a:hover {
    color: #ff0000;
}

.con {
  display: flex;
  width: 230px;
  margin : 0 auto;
  border-bottom: solid #EEEEEE;
  padding-bottom: 8px;
}

.pagination {
  margin : 0 auto;
}

.re {
  text-align: center;
}

.ho {
  border-radius: 50%; 
}

// posts/show links
.amazon {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fd9927;
  border: solid 2px #fd9927;
  border-radius: 3px;
  transition: .4s;
  font-size: 13px;
}

.amazon:hover {
  background: #fd9927;
  color: white;
}

.rakuten {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #be0712;
  border: solid 2px #be0712;
  border-radius: 3px;
  transition: .4s;
  font-size: 13px;
}

.rakuten:hover {
  background: #be0712;
  color: white;
}

// toppages modal
.modal-card-foot .button {
  margin : 0 auto;
  padding: 0 90px;
}

.aaa {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.upper1{
  transition:1s;
  opacity:0.7;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  background-color: #000;
  color: #FFF;
  border-radius: 18px;
  border: 0;
  height: 35px;

}

.upper1:hover{
  opacity:1;
  color: #FFF;
}

.upper2{
  transition:1s;
  opacity:0.7;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  background-color: #000;
  color: #FFF;
  border-radius: 18px;
  border: 0;
  height: 35px;
}

.upper2:hover{
  opacity:1;
  color: #FFF;
}

//layouts/_navbar

.navbar-menu {
  background-color: #ffdd57;
}

.navbar .logo {
  color: black;
  font-family: cursive;
}

.navbar a {
  padding-top: 5px;
}

// posts/show
.image {
  margin : 0 auto;
}

// toppages/searchとusers/likesとrooms/index
.post-border {
  border-bottom: solid #EEEEEE;
}

// rooms/show
#main {
  margin: 0 auto;
  overflow-y: scroll;
  padding: 1em;
  border-top: solid #EEEEEE;
}

#hoge {
  height: 300px;
}

.qqq {
  border-top: solid #EEEEEE;
}

// rooms/index
.photo {
  text-align: right;
}