/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

body {
  min-height: 100vh;
  font-family: sans-serif;
}

.notification:not(:last-child){
  margin-bottom: 0;
}



.navbar {
  background-color: #EEEEEE; 
}

a {
    color: #4a4a4a;
}
a:hover {
    color: #ff0000;
}

/* Navigation */
.topnav {
   
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.parent {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}



.topnav a {
  text-align: center;
  text-decoration: none;
}

/* */
.con {
  display: flex;
  width: 230px;
  margin : 0 auto;
  border-bottom: solid #EEEEEE;
  padding-bottom: 8px;
}

.con2 {
  display: flex;
  width: 600px;
  margin : 0 auto;
  border-bottom: solid #EEEEEE;
}

.post-content {
  width: 300px;
}

.pagination {
  margin : 0 auto;
}

.re {
  text-align: center,
}